@import url(https://fonts.googleapis.com/css?family=Nunito);/* Element | http://localhost:8000/products/10 */

aside.card {
  box-shadow: 0 40px 40px #0004;
}

.card,
.search-result {
  box-shadow: 1px 3px 3px #0001;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  border: 1px solid #0001;
  background: #fff;
}

.card h1 {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#searchbox-wrapper {
  width: 100%;
  display: block;
}

#searchbox {
  margin-bottom: 5px;
  display: flex;
}

#searchbox .input {
  width: 100%;
}

#searchbox .button {
  margin-left: 0.5em;
}

#searchbox .input,
#searchbox .button {
  background: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #0002;
  padding: 7px 13px;
}

#searchbox .button-active {
  background: lime;
  -webkit-animation: breathe 1s infinite;
          animation: breathe 1s infinite;
}

@-webkit-keyframes breathe {
  0% {
    background: white;
  }

  50% {
    background: skyblue;
  }

  100% {
    background: white;
  }
}

@keyframes breathe {
  0% {
    background: white;
  }

  50% {
    background: skyblue;
  }

  100% {
    background: white;
  }
}

#searchbox-wrapper ul {
  margin-bottom: 0;
}

#searchbox-wrapper li .nav-link {
  color: #777;
  transition: 0.2s color;
  padding: 0px 7px;
  border: 0px solid transparent;
  margin-right: 4px;
  border-radius: 3px;
}

#searchbox-wrapper li.active .nav-link,
#searchbox-wrapper li:hover .nav-link {
  color: #0063fa;
  outline: none;
  border-color: #555;
}

.rental-list-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.rental-list-item button {
  margin-top: -25px;
}

h1 {
  font-size: 1.3rem;
}

.big {
  font-size: 2em;
}

.bigger {
  font-size: 1.5em;
}

.product-area {
  display: flex;
}

.product-area .aside {
  padding: 10px 20px;
}

.search-result {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  clear: both;
}

.search-result .thumb {
  flex: 0 0 210px;
  max-width: 210px;
  width: 210px;
  max-height: 210px;
  float: left;
  margin-right: 15px;
  border-radius: 20px;
}

.product-area .aside .col {
  padding: 30px;
}

.table {
  background: white;
}

.product-area .image {
  width: 500px;
  border: 1px solid #888;
  background: #eee;
}

.product-area .image .tiny-images img {
  border: 1px solid #8883;
  background: #eee;
}

.product-area .image .tiny-images img:hover {
  border: 1px solid #000;
}

.navbar {
  padding-bottom: 0;
}

.navbar.bg-white {
  background: #ddd;
  border-bottom: 0px solid #777;
}

.navbar-brand {
  font-size: 2em;
}

body {
  background-color: #f4f4f9 !important;
}

.hoverline {
  transition: 0.1s;
}

.hoverline:hover {
  background: #aaa1;
}

/* bootstrap.min.css | http://localhost:8000/css/bootstrap.min.css */

.shadow-sm {
  /* box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important; */
  box-shadow: none !important;
}

/* app.css | http://localhost:8000/css/app.css */

.navbar.bg-white {
  /* background: #dcdce4; */
  background: #dcdce4 !important;
  box-shadow: 0px 0px 0px #0000 !important;
}

#searchbox .input,
#searchbox .button {
  /* border: 1px solid #aaa; */
  /* border-radius: 3px; */
  /* box-shadow: 0px 3px 6px #0002; */
  border: 0px solid #aaa;
  border-radius: 22px;
  box-shadow: 0px 2px 3px #0001001E;
  outline: none;
  color: #444;
}

/* bootstrap.min.css | http://localhost:8000/css/bootstrap.min.css */

/* In Webseite enthaltenes Stil-Dokument #2 | http://localhost:8000/products/create */

.custom-select,
.form-control,
.btn,
.alert {
  box-shadow: 0px 2px 3px #0001 !important;
  border: 1px solid #0001 !important;
  border-radius: 20px !important;
}

.card > div.border-top:first-of-type {
  border-top: none !important;
}

a.text-dark:hover {
  text-decoration: none;
}

/* In Webseite enthaltenes Stil-Dokument #2 | http://localhost:8000/products/create */

.btn {
  padding: 6px 22px !important;
}

label {
  opacity: 0.4;
  padding: 0;
  font-size: 0.7em;
  margin-left: 10px;
}

/* bootstrap.min.css | https://s2.covomedia.com/css/bootstrap.min.css */

.pagination {
  margin-top: 20px;
}

.collapse:not(.show) {     display: none;     display: none !important; } .navbar-light .navbar-toggler {     color: rgba(0,0,0,0.5);     border-color: rgba(0,0,0,0.1);     /* float: right; */ } .navbar-brand {     display: inline-block;     padding-top: 0.32421875rem;     padding-bottom: 0.32421875rem;     margin-right: 1rem;     font-size: 1.171875rem;     line-height: inherit;     white-space: nowrap;     position: relative !important; }
