<template>
    <div class="container">
        <h1>QR-MODE</h1>
        <div class="alert alert-danger" v-if="rental == null">Keine Leihliste aktiv. Bitte erstelle eine Leihliste oder <a href="/rentals">wähle eine aus</a>.</div>
        <div v-else>
            <div class="alert alert-info">
                Do
                <select v-model="mode">
                    <option
                        v-for="label in ['create','update']"
                        :key="label"
                        :value="label"
                        >{{label}}</option>
                </select>
                <input type="number" v-model="how_many" style="width:50px">
                {{ how_many == 1 ? "entry" : "entries" }}
                {{ mode == "create" ? "with state" : "to state" }}
                <select v-model="status">
                    <option
                        v-for="state in states"
                        :key="state"
                        :value="state"
                        >{{state}}</option>
                </select> for 
                QR Code:  <input @change="handleQR" v-model="qr" placeholder="QR Code eingeben" autofocus>
            </div>

            <div class="alert alert-danger" v-if="field_error.length>0"> {{field_error}}
                <hr>
                <div v-if="field_error.substr(0,4) == 'Kein'">
                    <b>Aber du kannst jetzt einen Artikel für diesen QR Code anlegen:</b>
                    <br>
                    Titel: <input v-model="create_product.title" placeholder="Titel" autofocus> 
                    Kaufpreis: <input style="width:4em" v-model="create_product.purchase_price" placeholder="Kaufpreis"> 
                    S/N: <input v-if="create_product.purchase_price > 250" v-model="create_product.sn" placeholder="S/N"> 
                    <button @click="create_and_rent" class="btn btn-sm btn-primary">Create and rent</button>
                    <br/>
                    ({{create_product_daily_rent}}€ Tagesmiete, {{create_product_deposit}}€ Kaution)
                </div>
            </div>
            <div class="alert alert-success" v-if="field_success.length>0"> {{field_success}} </div>

            <br>
            Auf dieser Leihliste:
            <table class="table">
                <tr>
                    <th width="20"></th>
                    <th>Produkt</th>
                    <th>Kaution</th>
                    <th>Tagesmiete</th>
                    <th>Status</th>
                </tr>
                <tr v-for="product in rental.products">
                    <td style="opacity:.5">{{product.pivot.quantity}}x </td>
                    <td>{{product.title}}</td>
                    <td>{{product.deposit}}€ </td>
                    <td>{{product.daily_rent}}€</td>
                    <td>{{product.pivot.status}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>


export default {
    props: ["csrf"],
    data: function() {
        return {
            rental: null,

            states: ['draft','reserved','booked','rented','delivered','returned','issue','archive'],
            status: "rented",
            mode: "create",
            how_many: 1,

            qr: "",
            sns: "",
            field_error:"",
            field_success:"",
            create_product: {
                title:"",
                purchase_price: 0,
                qrcode:""
            }
        }
    },
    computed: {
        csrf_header: function() { return new Headers({"type":"application/json", 'Content-Type': 'x-www-form-urlencoded', 'X-CSRF-TOKEN': this.csrf }); },
        create_product_daily_rent: function() {return Math.round(this.create_product.purchase_price/6)/10},
        create_product_deposit: function() {return Math.round(this.create_product.purchase_price/10)},
    },
    methods: {
        create_and_rent: function() {

            // wenn kein produkt für qrcode gefunden wurde, kann direkt eins erstellt werden
            let product={
                ...this.create_product,
                daily_rent: this.create_product_daily_rent,
                deposit: this.create_product_deposit,
                type: "single",
                owner_user_id: 1,
                quantity: 1
            }
            console.log("ich erstelle jetzt folgendes produkt",product)

            // api call create product with csrf
            fetch("/api/product/create-and-rent",{method:"post",headers:this.csrf_header,body:JSON.stringify(product)})
                .then(d=>d.json())
                .then(d=>{
                    this.field_error=""
                    console.log("Artikel wurde erfolgreich erstellt")
                    this.field_success="Artikel wurde neu erstellt und zur Liste hinzugefügt."
                    this.refreshRental()
                })
                .catch((e)=>{
                    this.field_error="Konnte den Artikel "+product.title+" nicht erstellen."
                })

        },
        handleQR: function() {

            if(this.qr != "") {
                // reset gui
                this.field_error=""
                this.field_success=""
            }

            console.log("qr code wurde eingegeben")
            fetch("/api/qrcode/"+this.qr)
                .then(d=>d.json())
                .then((product)=>{

                    // get the first product correlation to the scanned qr code
                    this.product=product
                    console.log("api hat mit folgendem product geantwortet",product)

                    // decide what to do with that product(s)
                    if(this.mode == "create") {

                        // try to rent that
                        if(product != null) {
                            console.log("renting produict: ",product)

                            // set up rent api call with csrf
                            fetch("/products/rent/"+product.id,{method:"post",headers:this.csrf_header,body:JSON.stringify({
                                quantity:this.how_many,
                                status:this.status
                            })})
                                .then(d=>{
                                    this.field_success="Ausleihe wurde erweitert um: "+this.status+" "+this.how_many+"x "+product.title
                                    this.refreshRental()
                                })
                                .catch((e)=>{
                                    this.field_error="Konnte den Artikel "+product.title+" nicht leihen."
                                })
                        }

                    } else {
                        // update product(s)
                    }

                })
                .catch(e=>{
                    this.create_product.qrcode=this.qr
                    this.field_error="Kein Artikel mit dem QR Code "+this.qr+" gefunden."
                }) 
                .finally(()=>{
                    // reset input field
                    this.qr=""
                })

        },
        refreshRental: function() {
            fetch("/api/rental/current")
                .then(d=>d.json())
                .then((rental)=>{
                    this.rental=rental
                    console.log("api hat mit folgendem rental geantwortet",rental)
                })
                .catch(e=>console.error(e))
        }
    },
    mounted() {
        console.log('Component mounted.')
        this.refreshRental();
    }
}
</script>
